<div class="container-md mt-5">
  <div class="row">
    <div class="section-title my-5">
      <h1> {{ 'not-found__title' | translate }}: 404 </h1>
      <h2> {{ 'not-found__subtitle' | translate }} </h2>
    </div>

    <div class="col-md-6">

      <p> {{ 'not-found__desc_1' | translate }} </p>

      <p> {{ 'not-found__desc_2' | translate }} </p>
      <br>
      <p> {{ 'not-found__desc_3' | translate }} <a [routerLink]="['/contact']"> {{ 'not-found__desc_4' | translate }} </a> {{ 'not-found__desc_5' | translate }} </p>
      <br>
      <p> {{ 'not-found__desc_6' | translate }} <a [routerLink]="['']"> {{ 'not-found__desc_7' | translate }} </a> {{ 'not-found__desc_8' | translate }} </p>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid" src="/assets/img/error/404.png" alt="{{ 'not-found__img_alt' | translate }}">
    </div>
  </div>
</div>
