<div class="container-md mt-5">
  <div class="row">
    <div class="col-md-6">
        <h1>ERROR: 404</h1>
        <br>
      <h2>La página no existe</h2>

      <p>Ups... La página que intentás acceder no existe...</p>

      <p>
        La página a la cual estás intentando acceder no existe. Es posible que haya sido eliminada, haya cambiado
        su nombre o se encuentre temporalmente fuera de servicio. Por favor, revisá la URL y volvé a intentarlo.
      </p>
      <br>
      <p>
        Si llegaste siguiendo un link, por favor <a [routerLink]="['/contact']">informá el error</a>
        al administrador del sitio.
      </p>
      <br>
      <p>
        También podés <a [routerLink]="['']">volver al inicio</a> y navegar por el sitio.
      </p>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img class="img-fluid" src="/assets/img/error/404.png" alt="Error 404. Página no encontrada">
    </div>
  </div>
</div>







<!-- ======= Español ======= -->
<!-- <section id="spanish" class="spanish">

  <div class="español container">

    <div class="section-title">
      <h2>La página no existe</h2>

      <p>Ups... La página que intentás acceder no existe...</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <p>
          La página a la cual estás intentando acceder no existe. Es posible que haya sido eliminada, haya cambiado
          su nombre o se encuentre temporalmente fuera de servicio. Por favor, revisá la URL y volvé a intentarlo.
        </p>
        <br>
        <p>
          Si llegaste siguiendo un link, por favor <a href="/index.html#contact">informá el error</a>
          al administrador del sitio.
        </p>
        <br>
        <p>
          También podés <a href="/index.html">volver al inicio</a> y navegar por el sitio.
        </p>
      </div>

      <div class="col-lg-6" style="text-align: center;">
        <img src="/assets/img/error/404.png" alt="Error 404. Página no encontrada." style="width: 100%;">
      </div>

    </div>
  </div>
</section> -->


<!-- ======= English ======= -->
<!-- <section id="english" class="english">

  <div class="english container">

    <div class="section-title">
      <h2>Page doesn't exists</h2>

      <p>Oops... The page you're trying to access doesn't exists...</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <p>
          The page you're trying to access doesn't exists. It may have been removed, had its name changed,
          or is temporarily unavailable. Please, check the URL and try again.
        </p>
        <br>
        <p>
          If you arrived following a link, please <a href="/english.html#contact">report the error</a>
          to the website administrator.
        </p>
        <br>
        <p>
          You can also <a href="/english.html">return to the homepage</a> and browse the website.
        </p>
      </div>

      <div class="col-lg-6" style="text-align: center;">
        <img src="/assets/img/error/404.png" alt="Error 404. Page not found." style="width: 100%;">
      </div>

    </div>
  </div>
</section> -->
