  <div id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row">

        <div class="col-lg-7">
          <ngb-carousel *ngIf="projectDetails.project_images; else noImg">
            
            <ng-template ngbSlide *ngFor="let img of projectDetails.project_images">
              <div class="picsum-img-wrapper">
                <img src="{{ img.image }}" alt="{{ img.altText }}" />
              </div>
            </ng-template>
            
          </ngb-carousel>
          
          <ng-template #noImg>
            <img src="assets/media/img/projects/unavailable.jpg" alt="El proyecto no contiene imágenes para mostrar" />
          </ng-template>

        </div>

        <div class="col-lg-5 portfolio-info">
          <h3>Información del proyecto</h3>
          <ul class="project-header">
            <li><strong>Categoría</strong>: {{ projectDetails.category.title }}</li>
            <li><strong>Cliente</strong>: {{ projectDetails.client }}</li>
            <li><strong>Fecha de inicio del proyecto</strong>: {{ projectDetails.startDate | date:"MMMM y":"" }}</li>
            <li><strong>Estado del proyecto</strong>: {{ getStatus() }} <i class="bi bi-circle-fill"
                [style]="getColorStatus()"></i></li>
            <li><strong>Lenguages utilizados</strong>: {{ getLanguages() }}.</li>
          </ul>

          <hr>

          <pre>{{ projectDetails.description }}</pre>



          <ul class="link-list">
            
            <li *ngIf="projectDetails.repository;">
              <a href="{{ projectDetails.repository.readmeLink }}" target="_blank" class="ms-2">
                Ir al repositorio <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>
  
            <li *ngFor="let link of projectDetails.extLink;">
              <a href="{{ link.link }}" target="_blank" class="ms-2">
                {{ link.title }} <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>

          </ul>
        </div>

      </div>

    </div>
  </div>
