<div class="container-lg">


  <div class="section-title my-5">
    <h1>Under construction</h1>
    <h2>English site is not available</h2>
  </div>

  <p class="english">
    Unfortunately the english version of this site is under construction, however you can 
    <a href="https://en.manuelferrero.com.ar">navigate to the old site <i class="bi bi-box-arrow-up-right"></i></a>,
    which is still available in english until version 2.0 is fully released.
    <br>
    This old version contains updated information and a user experience very similar to version 2.0, the biggest
    difference is that the information is not dynamically modified and it only uses HTML, CSS and some Javascript,
    unlike the new site which is made using Angular and DjangoREST Framework. Oh the other hand, certain aspects of
    appearance are also affected.
  </p>
  <p class="english sign">
    Thanks for your interest.
    <br>
    Manuel Ferrero.
  </p>


</div>
