<div class="container-lg resume">

  <div class="section-title my-5">
    <h1> {{ 'resume__title' | translate }} </h1>
    <h2>
      {{ 'resume__subtitle' | translate }}

      <a href="{{ developer.cvEsp }}" target="_blank" class="resume">
        <i class="bi bi-file-earmark-arrow-down"></i>
      </a>
    </h2>
  </div>


  <div class="row">

    <!-- Summary & Education -->
    <div class="col-lg-6">

      <!-- Summary -->
      <h3 class="resume-title"> {{ 'resume__summary' | translate }} </h3>
      <div class="resume-item pb-0">
        <h4>{{ developer.jobTitle }}</h4>
        <p class="justify-text">
          <em>
            {{ developer.aboutShort }}
          </em>
        </p>
        <ul>
          <li>{{ developer.residence }}</li>
          <li>{{ developer.phone }}</li>
          <li>{{ developer.email }}</li>
        </ul>
      </div>

      <!-- Education -->
      <h3 class="resume-title"> {{ 'resume__education_title' | translate }} </h3>

      <!-- Dynamic education items -->

      <!-- IS PRESENT -->
      <ng-container *ngFor="let educItem of education">
        <div *ngIf="educItem.isPresent" class="resume-item">

          <h4>{{ educItem.title }}</h4>
          <h5> {{ 'resume__in_progress' | translate }} </h5>

          <p><em class="place">
              {{ educItem.place }}
              <a *ngIf="educItem.link" href="{{ educItem.link }}" target="_blank">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </em></p>
          <pre>{{ educItem.description }}</pre>
          <a *ngIf="educItem.certificate" class="ms-2" style="cursor: pointer;" data-bs-toggle="modal"
            [attr.data-bs-target]="'#certificate' + educItem.id">
            {{ 'resume__show_certificate' | translate }} <i class="bi bi-file-earmark-medical"></i>
          </a>
          <a *ngIf="educItem.repository" href="{{ educItem.repository.readmeLink }}" target="_blank" class="ms-2">
            {{ 'global__go_to_repository' | translate }} <i class="bi bi-box-arrow-up-right"></i>
          </a>

          <!-- Certificate modal -->
          <div *ngIf="educItem.certificate" class="modal fade" id="certificate{{ educItem.id }}" tabindex="-1"
            [attr.aria-labelledby]="'certificateLabel' + educItem.id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="h2 modal-title" id="certificateLabel{{ educItem.id }}"> {{ 'resume__certificate' | translate }}
                    {{ educItem.title }}</p>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <img src="{{ educItem.certificate }}" class="img-fluid" alt="{{ 'resume__certificate' | translate }} {{ educItem.title }}">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'global__close' | translate }} </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>

      <!-- IS FINISHED -->
      <ng-container *ngFor="let educItem of education">
        <div *ngIf="!educItem.isPresent" class="resume-item">

          <h4>{{ educItem.title }}</h4>
          <h5>{{ educItem.finishDate | date:"yyyy" }}</h5>

          <p><em class="place">
              {{ educItem.place }}
              <a *ngIf="educItem.link" href="{{ educItem.link }}" target="_blank">
                <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </em></p>
          <pre>{{ educItem.description }}</pre>
          <a *ngIf="educItem.certificate" class="ms-2" style="cursor: pointer;" data-bs-toggle="modal"
            [attr.data-bs-target]="'#certificate' + educItem.id">
            {{ 'resume__show_certificate' | translate }} <i class="bi bi-file-earmark-medical"></i>
          </a>
          <a *ngIf="educItem.repository" href="{{ educItem.repository.readmeLink }}" target="_blank" class="ms-2">
            {{ 'global__go_to_repository' | translate }} <i class="bi bi-box-arrow-up-right"></i>
          </a>

          <!-- Certificate modal -->
          <div *ngIf="educItem.certificate" class="modal fade" id="certificate{{ educItem.id }}" tabindex="-1"
            [attr.aria-labelledby]="'certificateLabel' + educItem.id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="h2 modal-title" id="certificateLabel{{ educItem.id }}"> {{ 'resume__certificate' | translate }}
                    {{ educItem.title }}</p>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <img src="{{ educItem.certificate }}" class="img-fluid" alt="{{ 'resume__certificate' | translate }} {{ educItem.title }}">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'global__close' | translate }} </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>

    </div>

    <!-- Professional experience -->
    <div class="col-lg-6">
      <h3 class="resume-title"> {{ 'resume__experience_title' | translate }} </h3>

      <!-- Dynamic experience item -->

      <!-- IS PRESENT -->
      <ng-container *ngFor="let expItem of experience" >
        <div *ngIf="expItem.isPresent" class="resume-item">
          <h4>{{ expItem.title }}</h4>
          <h5>{{ expItem.startDate | date:'yyyy' }} - {{ 'present' | translate }} </h5>

          <p><em class="place">
              {{ expItem.company }} - {{ expItem.place }}</em></p>
          <pre>{{ expItem.description }}</pre>
          <ul class="link-list">
            <li *ngIf="expItem.project">
              <a class="ms-2" style="cursor: pointer;" data-bs-toggle="modal"
                [attr.data-bs-target]="'#project' + expItem.id">
                {{ 'resume__see_details' | translate }} <i class="bi bi-file-earmark-richtext"></i>
              </a>
            </li>

            <li *ngIf="expItem.repository;">
              <a href="{{ expItem.repository.readmeLink }}" target="_blank" class="ms-2">
                {{ 'global__go_to_repository' | translate }} <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>

            <li *ngFor="let link of expItem.extLink;">
              <a href="{{ link.link }}" target="_blank" class="ms-2">
                {{ link.title }} <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>
          </ul>

          <!-- Project modal -->
          <div *ngIf="expItem.project" class="modal fade" id="project{{ expItem.id }}" tabindex="-1"
            [attr.aria-labelledby]="'projectLabel' + expItem.id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="h2 modal-title" id="projectLabel{{ expItem.id }}"> {{ 'resume__project' | translate }}
                    {{ expItem.project.title }}</p>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">

                    <app-project-details [projectDetails]="expItem.project"></app-project-details>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'global__close' | translate }} </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>

      <!-- IS FINISHED -->
      <ng-container *ngFor="let expItem of experience" >
        <div *ngIf="!expItem.isPresent" class="resume-item">
          <h4>{{ expItem.title }}</h4>
          <h5>{{ expItem.startDate | date:'yyyy' }} - {{ expItem.finishDate | date:'yyyy' }}</h5>

          <p><em class="place">
              {{ expItem.company }} - {{ expItem.place }}</em></p>
          <pre>{{ expItem.description }}</pre>
          <ul class="link-list">
            <li *ngIf="expItem.project">
              <a class="ms-2" style="cursor: pointer;" data-bs-toggle="modal"
                [attr.data-bs-target]="'#project' + expItem.id">
                {{ 'resume__see_details' | translate }} <i class="bi bi-file-earmark-richtext"></i>
              </a>
            </li>

            <li *ngIf="expItem.repository;">
              <a href="{{ expItem.repository.readmeLink }}" target="_blank" class="ms-2">
                {{ 'global__go_to_repository' | translate }} <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>

            <li *ngFor="let link of expItem.extLink;">
              <a href="{{ link.link }}" target="_blank" class="ms-2">
                {{ link.title }} <i class="bi bi-box-arrow-up-right"></i>
              </a>
            </li>
          </ul>

          <!-- Project modal -->
          <div *ngIf="expItem.project" class="modal fade" id="project{{ expItem.id }}" tabindex="-1"
            [attr.aria-labelledby]="'projectLabel' + expItem.id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <p class="h2 modal-title" id="projectLabel{{ expItem.id }}"> {{ 'resume__project' | translate }}
                    {{ expItem.project.title }}</p>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">

                    <app-project-details [projectDetails]="expItem.project"></app-project-details>

                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'global__close' | translate }} </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-container>

    </div>
  </div>

</div>
